.detail {
  width: 100%;
  height: 100vh;
  background-image: url(../../../public/assets/rick-and-morty-rick-5120x2880-9494.png);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  &__back {
    height: 100%;
    width: 1%;
    display: flex;
    justify-content: left;
    align-items: flex-start;
    margin-left: 1rem;
    margin-top: 1rem;
    &__to {
      font-family: "rickmorty";
      text-align: center;
      font-size: 50px;
      color: black;
      text-shadow: 0 0 5px #9eff15, 0 0 10px #d1ff0e, 0 0 40px #d1ff0e,
        0 0 60px #ebff08;
    }
  }
  &__img {
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    &__title {
      font-family: "rickmorty";
      color: black;
      margin: 1rem;
      text-shadow: 0 0 5px #9eff15, 0 0 10px #d1ff0e, 0 0 40px #d1ff0e,
        0 0 60px #ebff08;
    }
    &__img {
      width: 400px;
      height: 400px;
      opacity: 0.9;
    }
  }
  &__txt {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
    &__in {
      font-family: "rickmorty";
      color: #9eff15;
      font-size: xx-large;
      text-shadow: 0 0 5px #9eff15, 0 0 10px #d1ff0e, 0 0 40px #d1ff0e,
        0 0 60px #ebff08;
    }
  }
}
